<html>
<head>
<title>TextUtils</title>
<body>
<h1><center>Welcome to Text Analyzer. </h1><br>
<h2>Enter your text below.</h2><br>
<form action='/analyze' method='get'>
<textarea name='text' style="margin: 0px; width: 1508px; height: 188px;"></textarea>
<input type="checkbox" name="removepunc">Remove Punctuations<br>
<input type="checkbox" name="capslock">UPPERCASE<br>
<input type="checkbox" name="newline">NEWLINE REMOVER<br>
<input type="checkbox" name="extraspace">EXTRA SPACE REMOVER<br>
<input type="checkbox" name="charcount">CHARACTER COUNTER<br>
<button type="submit" >Analyze text</button>
</form>
</body>
</head>
</html>